@model CarsListViewModel

<h1>Всі автомобілі</h1>
<h3>@Model.CurrentCategory</h3>

<div class="row mt-5 mb-2">
    @{
        foreach (var car in Model.AllCars)
        {
            @Html.Partial("AllCars", car)
        }
    }
</div>
