@model HomeViewModel

<h1>Улюблені автомобілі</h1>

<div class="row mt-5 mb-2">
    @{
        foreach (var car in Model.FavCars)
        {
            @Html.Partial("AllCars", car)
        }
    }
</div>
